/* Styles for the cart icon container */
.cart-icon-container {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    /* Styles for the shopping icon */
    .shopping-icon {
      width: 30px;
      height: 30px;
    }
  
    /* Styles for the item count label */
    .item-count {
      position: absolute;
      font-size: 15px;
      font-weight: bold;
      bottom: 10px;
      color: black;
    }
  }