@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.product-details {
    display: flex;
    align-items: center;
    margin: auto;
    padding: 20px;
    margin-top: 100px;
    background-color: whitesmoke;
    max-width: 1000px;
    max-height: 500px;
    align-items: center;
    border-radius: 20px;
    justify-self: center;
    margin-bottom: 30px;
    
    img {
      border-radius: 15px;
      width: 400px;
    }
    .details-title-price-buy {
      margin-left: 150px;
      width: 100%;
      .details {
        margin-top: 30px;
        margin-bottom: 20px;
        width: 50%;
      }
      .price {
        margin-bottom: 30px;
      }
  
      .add-prod-button {
        padding: 10px;
        font-size: 12px;
        margin-top: 25px;
        border: none;
        font-family: 'Lilita One', cursive;
        background-color: var(--primary-color);
        border-radius: 15px;
        border: 2px solid #232f3e;
        color: #f2f2f2;
        font-size: 18px;
        width: 40%;
        transition: all 0.8s;
      }
      .add-prod-button:hover {
        transform: scale(1.1);
      }
    }
  }