@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.sort-btn {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 35px;
    width: 12%;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: 'Lilita One', cursive;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    transition: background-color 0.3s;
}

.btn-text {
    transition: opacity 0.3s;
}

.sort-btn.sorted {
    background-color: #00bea5;
    color: white;
}

.sort-btn.sorted .btn-text {
    opacity: 0;
}